<div data-dojo-attach-point="containerRoot" class="contact-preview-container">
    <div data-dojo-attach-point="toolbarArea"></div>

    <div class="container" style="overflow-y: auto;" data-dojo-attach-point="containerScroll">
        <h1 data-dojo-attach-point="fullNameHeader"></h1>
        <div class="contact-information contact-container">
            <h2>Contact information</h2>
            <div class="contact-image">
                <img src="/ClientResources/Scripts/Editors/templates/images/person-icon.png" width="100"/>
            </div>
            <div class="contact-details">
                <div>
                    <label>Fullname:</label>
                    <span data-dojo-attach-point="fullNameLabel"></span>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <label>Address:</label>
                    <span data-dojo-attach-point="addressLabel"></span>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <label>Email:</label>
                    <span data-dojo-attach-point="emailLabel"></span>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <label>Phonenumber:</label>
                    <span data-dojo-attach-point="phoneNumberLabel"></span>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <label>Company:</label>
                    <span data-dojo-attach-point="companyLabel"></span>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <label>Function:</label>
                    <span data-dojo-attach-point="functionLabel"></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="send-email-form contact-container">
            <h2>Send message</h2>
            <textarea data-dojo-type="dijit/form/SimpleTextarea" data-dojo-props="style:'height:70px;'"></textarea>
            <div class="form-button">
                <button data-dojo-type="dijit/form/Button" type="button">Send</button>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="google-map">
            <h2>Location</h2>
            <div class="map" data-dojo-attach-point="map"></div>
        </div>
    </div>
</div>
