<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.0" targetFramework="net452" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="EPiServer.CMS" version="9.12.0" targetFramework="net452" />
  <package id="EPiServer.CMS.Core" version="9.12.0" targetFramework="net452" />
  <package id="EPiServer.CMS.UI" version="9.9.0" targetFramework="net452" />
  <package id="EPiServer.CMS.UI.Core" version="9.9.0" targetFramework="net452" />
  <package id="EPiServer.Framework" version="9.12.0" targetFramework="net452" />
  <package id="EPiServer.Logging.Log4Net" version="2.0.0" targetFramework="net452" />
  <package id="EPiServer.Packaging" version="3.2.4" targetFramework="net452" />
  <package id="EPiServer.Packaging.UI" version="3.2.4" targetFramework="net452" />
  <package id="Google.Apis" version="1.16.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.16.0" targetFramework="net452" />
  <package id="Google.Apis.Auth.Mvc" version="1.16.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.16.0" targetFramework="net452" />
  <package id="Google.Apis.People.v1" version="1.16.0.405" targetFramework="net452" />
  <package id="jQuery" version="1.10.2" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.5.0" targetFramework="net452" />
  <package id="structuremap.web-signed" version="3.1.6.186" targetFramework="net452" />
  <package id="structuremap-signed" version="3.1.6.186" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>